.container {
  position: relative;
  height: 100vh;
  width: 100%;
}
.vueImg {
  position: absolute;
  width: 20rem;
  left: calc(50% - 10rem);
  top: 3rem;
}
.title {
  position: absolute;
  width: 50rem;
  left: calc(50% - 25rem);
  text-align: center;
  font-size: 4rem;
  top: 22rem;
}
.dockerImg {
  position: absolute;
  width: 20rem;
  left: calc(50% - 10rem);
  top: 30rem;
}
